* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --softGray: #959595;
    --darkGray: #555555;
    --lightTur: #6ec0c1;
    --darkTur: #2a9a9c;
}

html{
    font-size: 62.5%;
}

body {
    width: 100vh;
    background-color: var(--lightTur);
}

main {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(100vh, 1fr));
    height: 100%;
}
.myInfo {
    display: grid;
    height: 100vh;
    grid-template-rows: .7fr .1fr .2fr;
}

.photo {
    background-image: url("../Images/profile_photo.jpg");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    width: 100vh;
}

.media div {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}

.media div a {
    width: 50px;
}

.facebook {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Facebook_icon_2013.svg/1200px-Facebook_icon_2013.svg.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.twitter {
    background-image: url("https://cdn.icon-icons.com/icons2/895/PNG/512/Twitter_icon_icon-icons.com_69154.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.instagram {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/1024px-Instagram_icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.intro{
    font-size: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
}

.intro p {
    width: 90%;
    color: var(--darkGray);
}